<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="style.css">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
    <script src="static/portfolio_app/js/script.js"></script>  
    <title>Alexander Ege</title>

</head>
<body>

    <div class="media-links">
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/alexander-ege-683b2bb5/"><i class="fab fa-linkedin trigger" name="linkedin"></i><span class="linkedin-slider">Linkedin</span></li></a>
            <li><a target="_blank" href="https://www.github.com/alexege"><i class="fab fa-github-square trigger" name="github"></i><span class="github-slider">Github</span></li></a>
            <li><a target="_blank" href="https://www.youtube.com/user/alexege2/"><i class="fab fa-youtube-square trigger" name="youtube"></i><span class="youtube-slider">Youtube</span></li></a>
            <li><a target="_blank" href="https://www.facebook.com/alexader.ege.9"><i class="fab fa-facebook-square trigger" name="facebook"></i><span class="facebook-slider">Facebook</span></li></a>
        </ul>

    </div>

    <!-- <video muted loop id="myVideo">
        <source src="images/Ink1-1.m4v" type="video/mp4">
    </video> -->

<!-- 
    <video muted poster="img/videoframe.jpg" class="fullscreen-bg__video" id="video" style="z-index: -1000";>
        <source src="video/big_buck_bunny.webm" type="video/webm">
        <source src="images/Ink1-1.m4v" type="video/mp4">
        <source src="video/big_buck_bunny.ogv" type="video/ogg">
    </video> -->

    <!-- ================================================ Home Page ================================================ -->
    <div class="page0">      

        <!-- <h1 class="logo">Alexander Ege</h1> -->

        <!-- Start -->
        <div id="main_content"><h2>Let jQuery AJAX Change This Text</h2></div>

        <button id="ajax" style="color: white; background-color: orange;">Get External Content</button>
        <!-- End -->

        <!-- <video muted autoplay loop src="images/Squareloadingscreen-1.m4v" type="video/mp4" style="width: 200px; height: 250px; position: absolute; left: 50%; top: 45%;"></video> -->

        <video muted loop class="clip1">
            <!-- <source src="images/ink.mp4" type="video/mp4"> -->
        </video>
        


        <div class="container">
            <div class="row1"></div>
            <div class="row2"></div>
            <div class="row3"></div>
            <div class="row4"></div>
            <div class="row5"></div>
            <div class="row6"></div>
            <div class="row7"></div>
            <div class="row8"></div>
            <div class="row9"></div>
            <div class="row10"></div>
            <div class="row11"></div>
        </div>

        <button class="ignore" onclick="" style="opacity:1;">
                <h4 class="enterButton" style="padding: 10px 30px; border: 1px solid red; z-index: 9999999;">Enter</h4>
        </button>


        <!-- <div class="hex-box-enter" onclick="pageTwoTransition()">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200'>
            <defs>
                <pattern patternUnits="userSpaceOnUse" width="100" height="100">
                </pattern>
            </defs>
            <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="black" stroke="rgb(6,170,226)"/>
            <text font-size="10" x="30" y="35" text-anchor="middle" stroke="rgb(6,170,226)">Enter</text>
            </svg>
        </div> -->

        <!-- <h3 class="hex-box-enter" onclick="pageTwoTransition()" style='color: rgb(6, 170, 226)'>- Enter -</h3> -->

        <!-- <a onclick="pageOneTransition()" class="enter_button">Enter</a>
        <a onclick="pageTwoTransition()" class="enter_button"><br>Next</a> -->
        
        <div class="center-content">
            <button class="ignore" onclick="pageOneTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">Home</button>
            <button class="ignore" onclick="pageTwoTransition()">About</button>
            <button class="ignore" onclick="pageThreeTransition()">Projects</button>
            <button class="ignore" onclick="pageFourTransition()">Work</button>
            <button class="ignore" onclick="pageFiveTransition()">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()">Resume</button>
        </div>

        <div class="hex-container"></div>

    </div>

    <!-- ================================================ About Page ================================================ -->
    <div class="page1">

        <video muted loop class="clip2">
            <source src="images/Ink2-1.m4v" type="video/mp4">
        </video>

        <div class="about-contents">
            <h1>About Me</h1>

            <img class="headshot" src="images/headshot.png" alt="">
            <p>I am a Computer Engineer from Miami, Florida. <br>
                I attended Southern Illinois University Carbondale, where <br>
                I earned my bachelors' of Science in Computer Engineering. <br>
                After graduating in December of 2015, I began working as a <br>
                Technical Rotation Associate for Trend Micro.<br>
                Since then, I have joined a bootcamp where I have studied to become<br>
                a FullStack Developer. I have learned how to build websites in <br>
                Python, Javascript and C#.
            </p>

            <div class="technologies">
                <ul>
                    <h4>Languages</h4>
                    <li>C#</li>
                    <li>Python</li>
                    <li>Javascript (ES6)</li>
                    <li>SQL</li>
                </ul>
                <ul>
                    <h4>Frameworks</h4>
                    <li>Angular</li>
                    <li>Node.js</li>
                    <li>AWS</li>
                </ul>
            </div>

        </div>

        <div class="hex-container"></div>        
        
        <div class="center-content">
            <button class="ignore" onclick="switchToPage(0)">Home</button>
            <button class="ignore" onclick="pageTwoTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">About</button>
            <button class="ignore" onclick="pageThreeTransition()">Projects</button>
            <button class="ignore" onclick="pageFourTransition()">Work</button>
            <button class="ignore" onclick="pageFiveTransition()">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()">Resume</button>
        </div>
    </div>

    <!-- ================================================ Projects Page ================================================ -->
    <div class="page2">


        <div class="project-contents">
            <!-- <video muted loop class="clip3">
                <source src="images/Ink2-1.m4v" type="video/mp4">
            </video> -->
    
    
            <div class="description-box top contents">
                    <h1>Selection</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium impedit et itaque vitae culpa suscipit! Quisquam delectus eligendi voluptatem soluta.</p>
                </div>
        
            <div class="description-box-python top" style="display: none;">
                    <h1>Python</h1>
                    <h3>Flask</h3>
                    <p>We spent two weeks learning the basics of MySQL using Flask.</p>
                    <h3>Django</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, tempore?</p>
                    <h3>MySQL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, autem.</p>
            </div>
        
            <div class="description-box-mean top" style="display: none;">
                
                <p style="text-align: center"><span class="anagram">M</span>ongo <span class="anagram">E</span>xpress <span class="anagram">A</span>ngular <span class="anagram">N</span>ode.js</p>
                
                <div class="project-thumbnail">
                    <h1>Project 1</h1>
                    <ul>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                    </ul>
                </div>
                
                <div class="project-thumbnail">
                    <h1>Project 2</h1>
                    <ul>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                    </ul>
                </div>
                
                <div class="project-thumbnail">
                    <h1>Project 3</h1>
                    <ul>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                        <li>Description</li>
                    </ul>
                </div>

            </div>
        
            <div class="description-box-W top" style="display: none;">
                    <h1>Web Fundamentals</h1>
                    <h3>HTML</h3>
                    <h3>CSS</h3>
                    <h3>JavaScript</h3>
            </div>

            <div class="description-box-CSharp top" style="display: none;">
                    <h1>C#</h1>
                    <h1>ASP.NET</h1>
                    <p>C# is a general-purpose, multi-paradigm programming language encompassing strong typing, lexically scoped, imperative, declarative, functional, generic, object-oriented, and component-oriented programming disciplines</p>
            </div>

        </div>
    
            <button class="reload top ignore">Reload</button>

            <!-- Hex boxes -->
        <div class="hex-container">
            <div class="center-hex">
            <div class="hex hex-box">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="white">
                <defs>
                    <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100" stroke="white">
                        <!-- <image xlink:href="images/coding_dojo_logo_white.png" x="10" y="10" width="44" height="44" /> -->
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img1)" stroke="rgb(6,170,226)"/>
                <text font-size="15" x="32" y="34" text-anchor="middle" style="font-family: hacker;" id="center-text" stroke="white">Projects</text>
                </svg>
            </div>
            </div>
    
            <div class="hex hex-box-2" name="Webfunds">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img2" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="images/Python_Sticker.png" x="0" y="0" width="64" height="64" />
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img2)"/>
                </svg>
            </div>
    
            <div class="hex hex-box-3" name="Mean">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img3" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="images/Mean.png" x="0" y="0" width="64" height="64" />
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img3)"/>
                </svg>
            </div>
    
            <div class="hex hex-box-4" name="Python">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img4" patternUnits="userSpaceOnUse" width="100" height="100">
                            <image xlink:href="images/Python.png" x="0" y="0" width="64" height="64" />
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img4)"/>
                </svg>
            </div>
    
            <div class="hex hex-box-5" name="C#">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img5" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="images/CSharp.png" x="0" y="0" width="64" height="64" />
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img5)"/>
                </svg>
            </div>
    
            <div class="hex hex-box-6" name="Mean">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img6" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="images/Mean.png" x="0" y="0" width="64" height="64" />
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img6)"/>
                </svg>
            </div>
    
            <div class="hex hex-box-7" name="Mean">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='200' height='200' stroke="rgb(6,170,226)">
                <defs>
                    <pattern id="img7" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="images/Mean.png" x="0" y="0" width="64" height="64" />                  
                    </pattern>
                </defs>
                <path d='M64 32 L48 4 L16 4 L0 32 L16 60 L48 60 Z' fill="url(#img7)"/>
                </svg>
            </div>
        </div>

        <div class="hex-container"></div>        

        <div class="center-content">
            <button class="ignore" onclick="switchToPage(0)">Home</button>
            <button class="ignore" onclick="pageTwoTransition()">About</button>
            <button class="ignore" onclick="pageThreeTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">Projects</button>
            <button class="ignore" onclick="pageFourTransition()">Work</button>
            <button class="ignore" onclick="pageFiveTransition()">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()">Resume</button>
        </div>
    </div>

    <!-- ================================================ Work Page ================================================ -->
    <div class="page3">

        <div class="work-contents">

            <h1>Work History</h1>
            <p>I am a Computer Engineer from Miami, Florida. <br>
                I attended Southern Illinois University Carbondale, where <br>
                I earned my bachelors' of Science in Computer Engineering. <br>
                After graduating in December of 2015, I began working as a <br>
                Technical Rotation Associate for Trend Micro and later <br>
                joined a small company working as a Software support engineer.<br>
                Since then, I have joined a bootcamp where I have studied to become<br>
                a FullStack Developer. I have learned how to build websites in <br>
                Python, Javascript and C#.
            </p>
        </div>

        <div class="center-content">
            <button class="ignore" onclick="switchToPage(0)">Home</button>
            <button class="ignore" onclick="pageTwoTransition()">About</button>
            <button class="ignore" onclick="pageThreeTransition()">Projects</button>
            <button class="ignore" onclick="pageFourTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">Work</button>
            <button class="ignore" onclick="pageFiveTransition()">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()">Resume</button>
        </div>

        <div class="hex-container"></div>        

    </div>

    <!-- ================================================ Educ. Page ================================================ -->
    <div class="page4">
        <div class="center-content">
            <button class="ignore" onclick="switchToPage(0)">Home</button>
            <button class="ignore" onclick="pageTwoTransition()">About</button>
            <button class="ignore" onclick="pageThreeTransition()">Projects</button>
            <button class="ignore" onclick="pageFourTransition()">Work</button>
            <button class="ignore" onclick="pageFiveTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()">Resume</button>
        </div>      


        <a style="position: absolute; left: 50%; top: 50%; z-index: 999999; color: white; border: 2px solid white; border-radius: 15px; padding: 10px;" onclick="moveSlice()">Move Slices</a>
        <div class="slice_1"></div>
        <div class="slice_2"></div>
        <div class="slice_3"></div>
        <div class="slice_4"></div>
        <div class="slice_5"></div>
        <div class="slice_6"></div>
        <div class="slice_7"></div>
        <div class="slice_8"></div>
        <div class="slice_9"></div>
        <div class="slice_10"></div>
        <!-- <div class="slices"></div>
        <div class="slice1"></div>
        <div class="slice2"></div>
        <div class="slice3"></div>
        <div class="slice4"></div> -->

        <div class="hex-container"></div>        

    </div>

    <!-- ================================================ Resume Page ================================================ -->
    <div class="page5">
        <div class="center-content">

            <!-- <div style="width: 400px; height: 400px; overflow: auto; color: white;">
                <h1>This is my resume</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere illo similique enim quaerat atque dignissimos provident quae eius non delectus maxime, iure reiciendis laboriosam, nam omnis ut sed perferendis quisquam at, facilis ab architecto ratione dolore. Animi quisquam earum laudantium vel nemo recusandae a labore, officia vero, beatae velit expedita.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere illo similique enim quaerat atque dignissimos provident quae eius non delectus maxime, iure reiciendis laboriosam, nam omnis ut sed perferendis quisquam at, facilis ab architecto ratione dolore. Animi quisquam earum laudantium vel nemo recusandae a labore, officia vero, beatae velit expedita.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere illo similique enim quaerat atque dignissimos provident quae eius non delectus maxime, iure reiciendis laboriosam, nam omnis ut sed perferendis quisquam at, facilis ab architecto ratione dolore. Animi quisquam earum laudantium vel nemo recusandae a labore, officia vero, beatae velit expedita.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere illo similique enim quaerat atque dignissimos provident quae eius non delectus maxime, iure reiciendis laboriosam, nam omnis ut sed perferendis quisquam at, facilis ab architecto ratione dolore. Animi quisquam earum laudantium vel nemo recusandae a labore, officia vero, beatae velit expedita.
                </p>
            </div> -->

            <button class="ignore" onclick="switchToPage(0)">Home</button>
            <button class="ignore" onclick="pageTwoTransition()">About</button>
            <button class="ignore" onclick="pageThreeTransition()">Projects</button>
            <button class="ignore" onclick="pageFourTransition()">Work</button>
            <button class="ignore" onclick="pageFiveTransition()">Educ.</button>
            <button class="ignore" onclick="pageSixTransition()" style="color: white; border-bottom: 2px solid rgb(6, 170, 226);">Resume</button>
        </div>

        <div class="hex-container"></div>        

    </div>
<script src="script.js"></script>
</body>